<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
</head>
<body>
    <partial name="/Views/Shared/menu.cshtml" />
    @RenderBody()
    <partial name="/Views/Shared/footer.cshtml" />
</body>
</html>