<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container">
        <div style="background-color:  whitesmoke;" class="footer-copyright text-center py-3">
            © 2018 Copyright

        </div>
    </div>
</body>
</html>
