<!DOCTYPE html>

<head>
    <script type="text/javascript" src="~/wwwroot/js/passchange.js"></script>
    <meta charset="UTF-8" />
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .container {
            padding-bottom: 0;
            background-color: whitesmoke;
        }
    </style>

</head>

<body class="bg-danger">

    <div class="container ">
        <!-- Default form login -->

        <div class="d-flex justify-content-center">
            <h5>Récupération mot de passe</h5>
        </div>

        <form class="text-center border border-light p-5">



            <!-- Email -->
            <input type="email" id="email" class="form-control mb-4" placeholder="E-mail" disabled="disabled"required>
           
            <input type="password" id="nouveau" class="form-control mb-4" placeholder="Nouveau mot de passe"  required>



            <span id="message"></span>
            <!-- Sign in button -->
            <button class="btn btn-danger btn-block my-4" type="button">Envoyer</button>

            <!-- Register -->
            <!-- Social login -->



        </form>

        <!-- Default form login -->
    </div>

   
        </body>

 